@font-face {
    font-family:'Orbitron';
    src: url('https://fonts.googleapis.com/css?family=Orbitron');
   }

h1 {
    font-family: "Orbitron", sans-serif;
}

section {
    width: 200px;
    height: 250px;
    padding: 25px;
    background-color: rgb(235, 231, 231);
}

#screen {
    font-family: "Orbitron", sans-serif;
    font-size: 45px;
    text-align: right;
    color: rgb(63, 63, 63);
    width: 100%;
    height: 50px;
    background-color: aqua;
}

.buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    
}

button {
    height: 50px;
    width: 50px;    
}

button:hover {
    color: white;
    background-color: blue;
    transition: 0.2s;
    cursor: pointer;    
}